body {
  background: black;
  color: white;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
}

#product-list {
  width: 80%;
  min-height: 400px;
  background-color: gray;
  float: left;
  height: 700px;
  overflow: scroll;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 40px;
}

#cart {
  min-height: 400px;
  width: 19%;
  background-color: #eeeeee;
  color: black;
  float: left;
  height: 700px;
  overflow: scroll;
  margin-left: 1%;
  border-radius: 10px;
}

.product-item {
  color: black;
  width: 33.33333%;
  float: left;
  padding: 10px;
  font-size: 18px;
}

#cart .product-item {
  width: 100%;
}

.product-item header {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}
#cart .product-item header {
  background-color: #99b575;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}

.product-item-body {
  background-color: #dad3cb;
  padding: 10px;
  color: black;
  border-radius: 0px 0px 5px 5px;
}

.product-item button {
  padding: 10px;
  color: white;
  background-color: #7b7677;
  border-radius: 3px;
  margin-top: 16px;
}

button {
  padding: 10px;
  outline: none;
  font-size: 15px;
}


form {

  max-width: 500px;
  margin: auto;

  input, button {
    padding: 20px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    background: #175492;
    color: white;
  }
}